{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="color: #009DD7;">
      <div class="container">
            
        <div class="d-flex justify-content-between align-items-center">
            <h2>About</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Terms & Conditions</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
<!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2><strong>TERMS & CONDITIONS</strong></h2>
          <p>BELOW ARE THE COMPANY'S WEBSITE/APPLICATION TERMS & CONDITIONS.</p>
          <h2 style="margin-top: 5%;"><strong>1. Acceptance:</strong></h2>
          <p>By accessing this Service, you agree to be bound by these terms & conditions [Hereinafter referred to as Terms]. We recommend that you read these Terms and Conditions prior to using our Website/Application/Service and thereafter regularly review any changes and you are responsible for doing so. If you do not accept these Terms and Conditions you must immediately stop using the Service and access to the Service may be denied.</p>
          <P>At the time of registering for use or using our Service you may be asked to enter your name, your age, gender, e-mail address, phone number or other information.</P>
          <P>To access and view the Website/Application/service, you must be at least 18 years old. Persons who are “incompetent to contract” within the meaning of the Indian Contract Act, 1872 including minors are not authorized to use the Service.</P>
          <p>By Agreeing to use this Website/Application/service you acknowledge that you are compliant with above paragraph.</p>
          <p>Use of Website/Application is considered to be null and void if it is done in violation of any of these Terms and Conditions.</p>
          <p>By using the Website/Application, you declare and guarantee that your use of the Website/Application does not infringe any current law or regulation, and you are fully authorized and permitted by local laws to provide the mentioned services as specified in ORKA’s Terms of Service.</p>

          <h2 style="margin-top: 5%;"><strong>2. Data Protection:</strong></h2>
          <p>Nothing is more important to us than protecting your personal information provided to us. ORKA will not use your personal information other than as stated in these terms without first receiving your permission.</p>
          <p>We do not sell, trade, or otherwise transfer to outside parties your personal information. This is to the exclusion of trusted third parties who assist us in operating our Service, conducting our business, or servicing you, so long as those parties agree to keep this information confidential [Internal Purpose].</p>
          <p>We may also release your information when we believe release is appropriate to comply with the law, enforce our rights or protect others or our rights, property, or safety.</p>
          <p>We may include or offer third party products or services on our Service. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.</p>
          <p>We reserve the right, at our sole discretion, to change, modify, add, or remove portions of this policy at any time.</p>

          <h2 style="margin-top: 5%;"><strong>3. Third Party Links and Services:</strong></h2>
          <p> The Service may include links to third party Website/Application’s, advertisers, services, special offers, or other events or activities that are not controlled and maintained by us. Any link to such third party Website/Applications is not an endorsement of such Website/Application, advertisers, services, special offers, or other events or activities and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>

          <h2 style="margin-top: 5%;"><strong>4. Proprietary Rights And License:</strong></h2>
          <p>All trademarks, copyright, database rights and other intellectual property rights of any nature in the Service together with the underlying software code are owned either directly by ORKA and/or our licensors.</p>
          <p>We hereby grant you a non-exclusive, royalty-free revocable license to use the Service for your personal use in accordance with these terms.</p>

          <h2 style="margin-top: 5%;"><strong>5. Conditions of Use:</strong></h2>
          <p>You will not, nor allow third parties on your behalf to (i) make and distribute copies of the Website/Application (ii) attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Website/Application; or (iii) create derivative works of the Website/Application of any kind whatsoever.</p>
          <p>The Service wherever made available to you free of charge is for your personal, non-commercial use. Non-Commercial use includes renting or aggregating the Service.</p>
          <p>We reserve the right to amend or withdraw the Website/Application, or charge for the Service provided to you in accordance with these terms, at any time and for any reason.</p>
          <p>Any charges by Third Party Service Providers listed through the Website/Application would be as per our Terms of Services.</p>
          <p>You acknowledge that the terms of agreement with your respective network provider (‘Service Provider’) will continue to apply when using the Website/Application/Services. As a result, you may be charged by the Service Provider for access to network connection services for the duration of the connection while accessing the Website/Application or any such third party charges as may arise. You accept responsibility for any such charges that arise.</p>

          <h2 style="margin-top: 5%;"><strong>6. Website Availability:</strong></h2>
          <p>This Website and Application would be made available to devices running specified Operating Systems. ORKA will use reasonable efforts to make the Website available at all times. However you acknowledge the Website is provided over the internet and mobile networks and so the quality and availability of the Website may be affected by factors outside ORKA’s reasonable control.</p>
          <p>ORKA, its vendors and sub-contractors do not accept any responsibility whatsoever for unavailability of the Website, or any difficulty or inability to download or access content or any other communication system failure which may result in the Website being unavailable.</p>
          <p>ORKA will not be responsible for any support or maintenance for the Website.</p>

          <h2 style="margin-top: 5%;"><strong>7. Website System Requirements:</strong></h2>
          <p>In order to use the Website, you are required to have a compatible device, internet access, and the necessary minimum specifications.</p>
          <p>The version of the Website software may be upgraded from time to time to add support for new functions and services.</p>

          <h2 style="margin-top: 5%;"><strong>8. Termination:</strong></h2>
          <p>We may terminate use of the Service at any time by giving notice of termination to you.</p>
          <p>Upon any termination, (a) the rights and licenses granted to you herein shall terminate; (b) you must cease all use of the Service.</p>

          <h2 style="margin-top: 5%;"><strong>9. Content Disclaimer:</strong></h2>
          <p>We also communicate information provided and created by advertisers, listing agencies, publishers, users, resellers, third parties. We have no control over the accuracy, legality, legitimacy, validity or reliability of such information on the Website, which may also include technical inaccuracies or typographical errors.</p>
          <p>We make no guarantee, nor do we take any responsibility for the Content including its quality, copyright compliance or legality, or any resulting loss or damage. The Content not limited to the availability of any product or service or any feature thereof, is subject to change without notice.</p>
          <p>We reserve the right, at our sole discretion and without any obligation, to make improvements to, or correct any error or omissions in, any portion of the Website and Application.</p>

          <h2 style="margin-top: 5%;"><strong>10. Limitation of Liability:</strong></h2>
          <p>YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE SERVICE AND THE WEBSITE/APPLICATION IS AT YOUR SOLE RISK. THE SERVICE AND THE WEBSITE/APPLICATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>
          <p>IN NO EVENT SHALL WE BE LIABLE TO ANY USER ON ACCOUNT OF ANY USE, MISUSE OR RELIANCE ON THE SITE FOR ANY DAMAGES WHATSOEVER, INCLUDING DIRECT, SPECIAL, PUNITIVE, INDIRECT, CONSEQUENTIAL OR INCIDENTAL DAMAGES OR DAMAGES FOR LOSS OF PROFITS, REVENUE, USE, OR DATA WHETHER BROUGHT IN WARRANTY, CONTRACT, INTELLECTUAL PROPERTY INFRINGEMENT, TORT (INCLUDING NEGLIGENCE) OR OTHER THEORY, EVEN IF WE ARE AWARE OF OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE, ARISING OUT OF OR CONNECTED WITH THE USE (OR INABILITY TO USE) OR PERFORMANCE OF THE SITE. WE DO NOT ASSUME ANY LEGAL LIABILITY OR RESPONSIBILITY FOR THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY INFORMATION, CONTENT, PRODUCT, SERVICES, OR PROCESSES DISCLOSED ON THE SITE OR ANY OTHER MATERIAL OR INFORMATION ACCESSIBLE FROM THE SITE.</p>
          <p>YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH USE OF THE SERVICE OR WEBSITE/APPLICATION IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA.</p>

          <h2 style="margin-top: 5%;"><strong>11. Severability</strong></h2>
          <p>In the event that any provision of these terms is declared by any judicial or other competent authority to be void, voidable, illegal or otherwise unenforceable or indications of the same are received by either you or us from any relevant competent authority, We shall amend that provision in such reasonable manner as achieves the intention of the parties without illegality or, at our discretion, such provision may be severed from these terms and the remaining provisions of this Agreement shall remain in full force and effect.</p>

          <h2 style="margin-top: 5%;"><strong>12. Assignment:</strong></h2>
          <p>The user is not entitled to assign any of its rights or obligations under this terms and conditions to any third party without our prior written consent.</p>

          <h2 style="margin-top: 5%;"><strong>12. Entire Agreement:</strong></h2> 
          <p>These terms and conditions, together with any documents expressly referred herein by reference, constitutes the entire agreement between the parties with respect to the subject matter hereof, and supersedes and replaces all prior and contemporaneous oral or written communications between the parties relating in any way to the subject matter hereof.</p>
          
        </div>

       

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Our Skills Section ======= -->
<!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
<!-- End Our Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
              <h3>ORKAFARM</h3>
              <p>
                Village Kochre <br>
                Taluka Vengural,Zilha Sindhudurg<br>
                Maharashtra,India
                 <br><br>
                <strong>Phone:</strong> +91 836965303<br>
                <strong>Email:</strong> info@orkafarm.com<br>
              </p>
              
            </div>
        <div class="col-lg-2 col-md-6 footer-contact" style="text-align:right;">
          <h4>USEFUL LINKS</h4>
          <p><a href="{% url 'index' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>HOME</strong></a></p>
          <p><a href="{% url 'about' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>ABOUT US</strong></a></p>
          <p><a href="{% url 'store' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>STORE</strong></a></p>
          <p><a href="{% url 'contact' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>CONTACT</strong></a></p>
          <p><a href="{% url 'farm' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>OUR FARM</strong></a></p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
          <h3>LEGAL</h3>
              <p><a href="{% url 'terms' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>TERMS & CONDITIONS</strong></a></p>
              <p><a href="{% url 'policy' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>POLICY</strong></a></li></p>
          
          
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>OrkaFarm</span></strong>. All Rights Reserved
      </div>
      
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
 <!-- End Footer -->

{% endblock %}